.view-leftbody {
  overflow: hidden;
  height: 100%;
  @include display-grid();
  @include grid-template-columns(($akk-unit * 5) 1fr);

  .view__header,
  .view__footer {
    background-color: $gray-100;
  }

  .view__left,
  .view__body {
    .inner {
      padding: $akk-unit / 4;
    }
  }

  .view__left {
    @include grid-column(1);
    overflow-y: auto;
    background-color: $white;
    z-index: 1;
  }

  .view__body {
    @include grid-column(2);
    overflow-y: auto;
    background-color: $gray-100;
  }

  &.view-with-footer {
    @include grid-template-rows(1fr $akk-unit);

    .view__left {
      @include grid-row(1);
    }

    .view__body {
      @include grid-row(1);
    }

    .view__footer {
      @include grid-column(1, 2);
      @include grid-row(2);
    }
  }

  &.view-with-header-and-footer {
    @include grid-template-rows($akk-unit 1fr $akk-unit);

    .view__left {
      @include grid-row(1, 3);
    }

    .view__header {
      @include grid-column(2);
      @include grid-row(1);
    }

    .view__body {
      @include grid-column(2);
      @include grid-row(2);
    }

    .view__footer {
      @include grid-column(2);
      @include grid-row(3);
    }
  }
}
